*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/build
/app/*.jks
/app/*.old
/app/*json
/app/Appinfo.txt
/app/*pepk
/app/"SHA signing keys.txt"
/app/*.pem